{% set type = kind | lower %}
<aside class="admonition {{ type }}" {% if type == "warning" or type == "caution" %}role="alert"{% else %}role="note"{% endif %}>
    <p class="admonition-header">
        {% if type == "note" %}
            <i data-feather="info"></i>
        {% elif type == "tip" %}
            <i data-feather="zap"></i>
        {% elif type == "important" %}
            <i data-feather="alert-circle"></i>
        {% elif type == "warning" %}
            <i data-feather="alert-triangle"></i>
        {% elif type == "caution" %}
            <i data-feather="x-octagon"></i>
        {% endif %}
        {{ kind | title }}
    </p>
    {{ body | markdown | safe }}
</aside>
